@import "compass/reset";
@import "compass/css3";
@import "compass/css3/hyphenation";

$title-color:  #1DAEDF;
$latest-color: #eee;
$entry-content-color: #333;
$section-color: #444;
$header-color: #1DAEDF;
$links-color: #1DAEDF;
$aside-bg-color: #2980b9;
$avatar-box-shadow-color: #1DAEDF;
$nav-border-color: #328cc7;
$nav-a-color: #fff;
$nav-hover-color: #328cc7;
$nav-link-border-color: #328cc7;

