img.avatartwo {
    background: #ffffff;
    padding: 4px;
    border: 1px solid #ddd;

/* Round Corners (native in Safari, Firefox and Chrome) */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

/* Add the Shadow */
    -moz-box-shadow: 2px 2px 2px #dddddd;
    -webkit-box-shadow: 2px 2px 2px #dddddd;
}

.social a:hover
{
  color: red;
}
