/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/lib/ruby/gems/2.3.0/gems/compass-1.0.3/vendor/bundle/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html {
  font-family: 'Open Sans', 'helvetica', sans-serif;
  background: white;
  font-size: 14px;
}

/* Titles */
/* line 15, ../sass/screen.scss */
h1 {
  text-transform: uppercase;
}

/* line 16, ../sass/screen.scss */
h1, h2 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 23, ../sass/screen.scss */
.title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #1DAEDF;
  line-height: 1;
  font-weight: 600;
}

/* line 34, ../sass/screen.scss */
.latest {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

/* line 40, ../sass/screen.scss */
.post_detail {
  font-size: 2em;
  line-height: 1em;
}

/* line 46, ../sass/screen.scss */
.entry-content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  color: #333;
}

/* line 54, ../sass/screen.scss */
article section .about {
  font-size: 18px;
  color: #444;
  text-align: justify;
}

/* line 61, ../sass/screen.scss */
article section .blog-post {
  font-size: 16px;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Body */
/* line 68, ../sass/screen.scss */
body {
  margin: 0;
}

/* line 69, ../sass/screen.scss */
body > article, footer {
  line-height: 1.6em;
  display: block;
  max-width: 700px;
  margin: 40px auto auto 355px;
  padding: 20px 80px 10px;
}

/* line 77, ../sass/screen.scss */
article ol {
  padding-left: 0;
}

/* Articles */
/* line 85, ../sass/screen.scss */
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #1DAEDF;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}

/* line 93, ../sass/screen.scss */
.article_left > h1 {
  font-size: 20px;
}

/* line 96, ../sass/screen.scss */
.article_right {
  background-color: white;
}

/* line 99, ../sass/screen.scss */
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}

/* Links */
/* line 109, ../sass/screen.scss */
a {
  color: #1DAEDF;
  text-decoration: none;
  /*a:visited { color:$links-color; text-decoration:none; }
  a:link { color:$links-color; text-decoration:none; }
  a:active { color:$links-color; text-decoration:none; }*/
}
/* line 116, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* Code */
/* line 122, ../sass/screen.scss */
.highlight pre {
  font-size: 14px;
  overflow: auto;
  padding: 8px;
}

/* Sidebar */
/* line 129, ../sass/screen.scss */
aside {
  font-size: 14px;
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  background-color: #2980b9;
  color: white;
  box-shadow: 0 0 3px black;
  text-align: center;
  padding-top: 8%;
  background-size: cover;
}

/* line 143, ../sass/screen.scss */
aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}

/* line 148, ../sass/screen.scss */
aside > h2 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 154, ../sass/screen.scss */
#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px #1DAEDF;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  /*  -webkit-transition: 200ms;
       -moz-transition: 200ms;
        -ms-transition: 200ms;
         -o-transition: 200ms;
            transition: 200ms;*/
}

/* line 168, ../sass/screen.scss */
#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

/* line 172, ../sass/screen.scss */
.social {
  display: inline-block;
  margin-top: 40px;
}

/* line 178, ../sass/screen.scss */
.nav {
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  border: 1px solid #328cc7;
  margin-top: 40px;
}

/* line 187, ../sass/screen.scss */
.nav > ul > li {
  font-size: 15px;
}

/* line 192, ../sass/screen.scss */
.nav a {
  color: #fff;
  text-decoration: none;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 201, ../sass/screen.scss */
.nav a:hover {
  background-color: #328cc7;
}

/* line 206, ../sass/screen.scss */
.list-bare {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 213, ../sass/screen.scss */
.nav__link {
  display: block;
  padding: 0.77273rem 0;
  border-bottom: 1px solid #328cc7;
}

/*--------Responsive------------*/
@media (max-width: 800px) {
  /* line 225, ../sass/screen.scss */
  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-top: 1px;
  }

  /* line 235, ../sass/screen.scss */
  .nav {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 241, ../sass/screen.scss */
  body > article {
    margin: 0 auto;
    padding-top: 5px;
    padding: 1em;
  }

  /* line 247, ../sass/screen.scss */
  footer {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }

  /* line 254, ../sass/screen.scss */
  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
}
/* line 261, ../sass/screen.scss */
img {
  max-width: 100%;
}
